# Measure fairness in healtcare-related database using the Aequitas toolkit

Simone Callegarin - 932342 - 232592

## Imports
   All the necessary inputs in order to make the notebook works.

In [62]:
!pip install aequitas
import pandas as pd
import seaborn as sns
from aequitas.preprocessing import preprocess_input_df
from aequitas.group import Group
from aequitas.bias import Bias
from aequitas.fairness import Fairness
import aequitas.plot as ap

# import warnings; warnings.simplefilter('ignore')

%matplotlib inline

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: aequitas in /usr/local/lib/python3.9/dist-packages (0.42.0)
Requirement already satisfied: Flask-Bootstrap==3.3.7.1 in /usr/local/lib/python3.9/dist-packages (from aequitas) (3.3.7.1)
Requirement already satisfied: ohio>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.5.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from aequitas) (6.0)
Requirement already satisfied: millify==0.1.1 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.1.1)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.11.2)
Requirement already satisfied: pandas>=0.24.1 in /usr/local/lib/python3.9/dist-packages (from aequitas) (1.3.5)
Requirement already satisfied: SQLAlchemy>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from aequitas) (1.4.46)
Requirement already satisfied: xhtml2pdf==0.2.2 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.2.2)
Requirement already satisfied: Flask==0.12.2 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.12.2)
Requirement already satisfied: markdown2==2.3.5 in /usr/local/lib/python3.9/dist-packages (from aequitas) (2.3.5)
Requirement already satisfied: tabulate==0.8.2 in /usr/local/lib/python3.9/dist-packages (from aequitas) (0.8.2)
Requirement already satisfied: matplotlib>=3.0.3 in /usr/local/lib/python3.9/dist-packages (from aequitas) (3.5.3)
Requirement already satisfied: altair==4.1.0 in /usr/local/lib/python3.9/dist-packages (from aequitas) (4.1.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.9/dist-packages (from altair==4.1.0->aequitas) (0.4)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.9/dist-packages (from altair==4.1.0->aequitas) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.9/dist-packages (from altair==4.1.0->aequitas) (0.12.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from altair==4.1.0->aequitas) (1.22.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from altair==4.1.0->aequitas) (3.1.2)
Requirement already satisfied: click>=2.0 in /usr/local/lib/python3.9/dist-packages (from Flask==0.12.2->aequitas) (8.1.3)
Requirement already satisfied: itsdangerous>=0.21 in /usr/local/lib/python3.9/dist-packages (from Flask==0.12.2->aequitas) (2.1.2)
Requirement already satisfied: Werkzeug>=0.7 in /usr/local/lib/python3.9/dist-packages (from Flask==0.12.2->aequitas) (2.2.3)
Requirement already satisfied: visitor in /usr/local/lib/python3.9/dist-packages (from Flask-Bootstrap==3.3.7.1->aequitas) (0.1.3)
Requirement already satisfied: dominate in /usr/local/lib/python3.9/dist-packages (from Flask-Bootstrap==3.3.7.1->aequitas) (2.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (1.15.0)
Requirement already satisfied: pyPdf2 in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (3.0.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (9.4.0)
Requirement already satisfied: reportlab>=3.0 in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (3.6.12)
Requirement already satisfied: html5lib>=1.0 in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (1.0.1)
Requirement already satisfied: httplib2 in /usr/local/lib/python3.9/dist-packages (from xhtml2pdf==0.2.2->aequitas) (0.17.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (23.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (4.39.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.3->aequitas) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.1->aequitas) (2022.7.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.9/dist-packages (from seaborn>=0.9.0->aequitas) (1.10.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy>=1.1.1->aequitas) (2.0.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.0->xhtml2pdf==0.2.2->aequitas) (0.5.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->altair==4.1.0->aequitas) (2.1.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema->altair==4.1.0->aequitas) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema->altair==4.1.0->aequitas) (22.2.0)
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from pyPdf2->xhtml2pdf==0.2.2->aequitas) (4.5.0)

## Preprocess Data

### Dataset
The original Diabetes Dataset has been taken from [Diabetes 130-Hospitals](https://www.openml.org/search?type=data&status=active&id=43903).

This dataset represents 10 years of clinical care at 130 U.S. hospitals and delivery networks, collected from 1999 to 2008. 
Each record represents the hospital admission record for a patient diagnosed with diabetes whose stay lasted between one to fourteen days. 
The features describing each encounter include demographics, diagnoses, diabetic medications, number of visits in the year preceding the encounter, and payer information, as well as whether the patient was readmitted after release, and whether the readmission occurred within 30 days of the release.

The original "Diabetes 130-Hospitals" dataset was collected by Beata Strack, Jonathan P. DeShazo, Chris Gennings, Juan L. Olmo, Sebastian Ventura, Krzysztof J. Cios, and John N. Clore in 2014.

---

It was provided an already preprocessed version of the original one that can be found [here](https://www.kaggle.com/datasets/mathchi/diabetes-data-set).

All patients here are females at least 21 years old of Pima Indian heritage.

Here is the meaning of what the values of each column are referring:

* Pregnancies: Number of times pregnant
* Glucose: Plasma glucose concentration a 2 hours in an oral glucose tolerance test
* BloodPressure: Diastolic blood pressure (mm Hg)
* SkinThickness: Triceps skin fold thickness (mm)
* Insulin: 2-Hour serum insulin (mu U/ml)
* BMI: Body mass index (weight in kg/(height in m)^2)
* DiabetesPedigreeFunction: Diabetes pedigree function
* Age: Age (years)
* Outcome: Class variable (1 if diabetic, 0 otherwise)

### Dataset download
Below data has been taken from the csv into a table.

In [79]:
df = pd.read_csv("https://raw.githubusercontent.com/SimoneCallegarin/TIS_project/master/raw_data/diabetes.csv")

df.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,AgeCategory
0,0,6.0,148,72.0,35.0,30.5,33.6,0.627,50.0,1,1
1,1,1.0,85,66.0,29.0,30.5,26.6,0.351,31.0,0,1
2,2,8.0,183,64.0,23.0,30.5,23.3,0.672,32.0,1,1
3,3,1.0,89,66.0,23.0,94.0,28.1,0.167,21.0,0,0
4,4,0.0,137,40.0,35.0,168.0,43.1,0.374,33.0,1,1

#### Preprocessing
The next step is to pre-process the Data provided in order to assess the fairness of the Dataset.

1. *Outcome* column has been renamed in *score*.

2. *AgeCategory* column has been renamed with *label_value* because it will be the attribute on which to search for discrimination.

3. The first column that was left unnamed has been renemed in *entity_id*, a reserved column name that permit us to refer to each entity.

4. Continuous values are discretized by Aequitas that will first bin the data into quartiles and then create crosstabs with the newly defined categories.

5. The final table has been reordered with all the necessary attributes.

In [88]:
df = df.rename( columns={ 'Outcome' : 'score',  
                          'AgeCategory' : 'label_value' } )
                                    
df.columns.values[0] = 'entity_id'

df, _ = preprocess_input_df(df)

df = df[[ 'entity_id', 'score', 'label_value', 'Pregnancies', 'Glucose',	'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'	]]

df.to_csv("https://raw.githubusercontent.com/SimoneCallegarin/TIS_project/master/data/diabetes.csv")

df.head()

,entity_id,score,label_value,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,1.0,1,3.00-6.00,141.00-199.00,64.00-72.00,31.00-45.00,14.00-30.50,32.00-36.30,0.55-1.00,40.00-66.00
1,1,0.0,1,0.00-1.00,44.00-99.00,64.00-72.00,23.00-31.00,14.00-30.50,18.20-27.50,0.24-0.37,29.00-40.00
2,2,1.0,1,6.00-13.00,141.00-199.00,38.00-64.00,10.00-23.00,14.00-30.50,18.20-27.50,0.55-1.00,29.00-40.00
3,3,0.0,0,0.00-1.00,44.00-99.00,64.00-72.00,10.00-23.00,31.25-105.00,27.50-32.00,0.08-0.24,21.00-24.00
4,4,1.0,1,0.00-1.00,117.00-141.00,38.00-64.00,31.00-45.00,105.00-272.00,36.30-50.00,0.24-0.37,29.00-40.00

The result of this preprocessing phase is a table with the following dimensions:

In [83]:
df.shape

(763, 11)

Note that people with an age equal or below 25 years are assigned to the AgeCategory (labeled_value) of 0 whilst the others have 1 in the column.

In [84]:
df['score'].value_counts()

0    497
1    266
Name: score, dtype: int64

<a id='counts_description'></a>
The **`get_crosstabs()`** method tabulates a confusion matrix for each subgroup and calculates commonly used metrics such as false positive rate and false omission rate. It also provides counts by group and group prevelances.

#### Group Counts Calculated:

| Count Type | Column Name |
| --- | --- |
| False Positive Count | 'fp' |
| False Negative Count | 'fn' |
| True Negative Count | 'tn' |
| True Positive Count | 'tp' |
| Predicted Positive Count | 'pp' |
| Predicted Negative Count | 'pn' |
| Count of Negative Labels in Group | 'group_label_neg' |
| Count of Positive Labels in Group | 'group_label_pos' | 
| Group Size | 'group_size'|
| Total Entities | 'total_entities' |

#### Absolute Metrics Calculated:

| Metric | Column Name |
| --- | --- |
| True Positive Rate | 'tpr' |
| True Negative Rate | 'tnr' |
| False Omission Rate | 'for' |
| False Discovery Rate | 'fdr' |
| False Positive Rate | 'fpr' |
| False Negative Rate | 'fnr' |
| Negative Predictive Value | 'npv' |
| Precision | 'precision' |
| Predicted Positive Ratio$_k$ | 'ppr' |
| Predicted Positive Ratio$_g$ | 'pprev' |
| Group Prevalence | 'prev' |

In [85]:
g = Group()
xtab, _ = g.get_crosstabs(df)
absolute_metrics = g.list_absolute_metrics(xtab)
xtab[[col for col in xtab.columns if col not in absolute_metrics]]

,model_id,score_threshold,k,attribute_name,attribute_value,pp,pn,fp,fn,tn,tp,group_label_pos,group_label_neg,group_size,total_entities
0,0,binary 0/1,266,Pregnancies,0.00-1.00,67,176,23,55,121,44,99,144,243,763
1,0,binary 0/1,266,Pregnancies,1.00-3.00,50,132,16,51,81,34,85,97,182,763
2,0,binary 0/1,266,Pregnancies,3.00-6.00,58,115,5,99,16,53,152,21,173,763
3,0,binary 0/1,266,Pregnancies,6.00-13.00,91,74,1,73,1,90,163,2,165,763
4,0,binary 0/1,266,Glucose,117.00-141.00,74,116,16,74,42,58,132,58,190,763
5,0,binary 0/1,266,Glucose,141.00-199.00,130,57,19,43,14,111,154,33,187,763
6,0,binary 0/1,266,Glucose,44.00-99.00,14,178,2,80,98,12,92,100,192,763
7,0,binary 0/1,266,Glucose,99.00-117.00,48,146,8,81,65,40,121,73,194,763
8,0,binary 0/1,266,BloodPressure,38.00-64.00,45,152,15,46,106,30,76,121,197,763
9,0,binary 0/1,266,BloodPressure,64.00-72.00,83,143,12,82,61,71,153,73,226,763
10,0,binary 0/1,266,BloodPressure,72.00-80.00,65,117,8,88,29,57,145,37,182,763
11,0,binary 0/1,266,BloodPressure,80.00-106.00,73,85,10,62,23,63,125,33,158,763
12,0,binary 0/1,266,SkinThickness,10.00-23.00,131,297,18,164,133,113,277,151,428,763
13,0,binary 0/1,266,SkinThickness,23.00-31.00,51,99,8,45,54,43,88,62,150,763
14,0,binary 0/1,266,SkinThickness,31.00-45.00,84,101,19,69,32,65,134,51,185,763
15,0,binary 0/1,266,Insulin,105.00-272.00,83,100,14,56,44,69,125,58,183,763
16,0,binary 0/1,266,Insulin,14.00-30.50,138,241,21,158,83,117,275,104,379,763
17,0,binary 0/1,266,Insulin,30.50-31.25,27,22,5,9,13,22,31,18,49,763
18,0,binary 0/1,266,Insulin,31.25-105.00,18,134,5,55,79,13,68,84,152,763
19,0,binary 0/1,266,BMI,18.20-27.50,22,170,2,83,87,20,103,89,192,763
20,0,binary 0/1,266,BMI,27.50-32.00,73,126,10,66,60,63,129,70,199,763
21,0,binary 0/1,266,BMI,32.00-36.30,80,103,14,62,41,66,128,55,183,763
22,0,binary 0/1,266,BMI,36.30-50.00,91,98,19,67,31,72,139,50,189,763
23,0,binary 0/1,266,DiabetesPedigreeFunction,0.08-0.24,49,142,8,77,65,41,118,73,191,763
24,0,binary 0/1,266,DiabetesPedigreeFunction,0.24-0.37,80,140,14,84,56,66,150,70,220,763
25,0,binary 0/1,266,DiabetesPedigreeFunction,0.37-0.55,57,104,11,52,52,46,98,63,161,763
26,0,binary 0/1,266,DiabetesPedigreeFunction,0.55-1.00,80,111,12,65,46,68,133,58,191,763
27,0,binary 0/1,266,Age,21.00-24.00,31,185,31,0,185,0,0,216,216,763
28,0,binary 0/1,266,Age,24.00-29.00,55,131,14,97,34,41,138,48,186,763
29,0,binary 0/1,266,Age,29.00-40.00,81,96,0,96,0,81,177,0,177,763
30,0,binary 0/1,266,Age,40.00-66.00,99,85,0,85,0,99,184,0,184,763

In [74]:
xtab[['attribute_name', 'attribute_value'] + absolute_metrics].round(2)

,attribute_name,attribute_value,tpr,tnr,for,fdr,fpr,fnr,npv,precision,ppr,pprev,prev
0,Pregnancies,0.00-1.00,0.44,0.84,0.31,0.34,0.16,0.56,0.69,0.66,0.25,0.28,0.41
1,Pregnancies,1.00-3.00,0.40,0.84,0.39,0.32,0.16,0.60,0.61,0.68,0.19,0.27,0.47
2,Pregnancies,3.00-6.00,0.35,0.76,0.86,0.09,0.24,0.65,0.14,0.91,0.22,0.34,0.88
3,Pregnancies,6.00-13.00,0.55,0.50,0.99,0.01,0.50,0.45,0.01,0.99,0.34,0.55,0.99
4,Glucose,117.00-141.00,0.44,0.72,0.64,0.22,0.28,0.56,0.36,0.78,0.28,0.39,0.69
5,Glucose,141.00-199.00,0.72,0.42,0.75,0.15,0.58,0.28,0.25,0.85,0.49,0.70,0.82
6,Glucose,44.00-99.00,0.13,0.98,0.45,0.14,0.02,0.87,0.55,0.86,0.05,0.07,0.48
7,Glucose,99.00-117.00,0.33,0.89,0.55,0.17,0.11,0.67,0.45,0.83,0.18,0.25,0.62
8,BloodPressure,38.00-64.00,0.39,0.88,0.30,0.33,0.12,0.61,0.70,0.67,0.17,0.23,0.39
9,BloodPressure,64.00-72.00,0.46,0.84,0.57,0.14,0.16,0.54,0.43,0.86,0.31,0.37,0.68
10,BloodPressure,72.00-80.00,0.39,0.78,0.75,0.12,0.22,0.61,0.25,0.88,0.24,0.36,0.80
11,BloodPressure,80.00-106.00,0.50,0.70,0.73,0.14,0.30,0.50,0.27,0.86,0.27,0.46,0.79
12,SkinThickness,10.00-23.00,0.41,0.88,0.55,0.14,0.12,0.59,0.45,0.86,0.49,0.31,0.65
13,SkinThickness,23.00-31.00,0.49,0.87,0.45,0.16,0.13,0.51,0.55,0.84,0.19,0.34,0.59
14,SkinThickness,31.00-45.00,0.49,0.63,0.68,0.23,0.37,0.51,0.32,0.77,0.32,0.45,0.72
15,Insulin,105.00-272.00,0.55,0.76,0.56,0.17,0.24,0.45,0.44,0.83,0.31,0.45,0.68
16,Insulin,14.00-30.50,0.43,0.80,0.66,0.15,0.20,0.57,0.34,0.85,0.52,0.36,0.73
17,Insulin,30.50-31.25,0.71,0.72,0.41,0.19,0.28,0.29,0.59,0.81,0.10,0.55,0.63
18,Insulin,31.25-105.00,0.19,0.94,0.41,0.28,0.06,0.81,0.59,0.72,0.07,0.12,0.45
19,BMI,18.20-27.50,0.19,0.98,0.49,0.09,0.02,0.81,0.51,0.91,0.08,0.11,0.54
20,BMI,27.50-32.00,0.49,0.86,0.52,0.14,0.14,0.51,0.48,0.86,0.27,0.37,0.65
21,BMI,32.00-36.30,0.52,0.75,0.60,0.18,0.25,0.48,0.40,0.82,0.30,0.44,0.70
22,BMI,36.30-50.00,0.52,0.62,0.68,0.21,0.38,0.48,0.32,0.79,0.34,0.48,0.74
23,DiabetesPedigreeFunction,0.08-0.24,0.35,0.89,0.54,0.16,0.11,0.65,0.46,0.84,0.18,0.26,0.62
24,DiabetesPedigreeFunction,0.24-0.37,0.44,0.80,0.60,0.18,0.20,0.56,0.40,0.82,0.30,0.36,0.68
25,DiabetesPedigreeFunction,0.37-0.55,0.47,0.83,0.50,0.19,0.17,0.53,0.50,0.81,0.21,0.35,0.61
26,DiabetesPedigreeFunction,0.55-1.00,0.51,0.79,0.59,0.15,0.21,0.49,0.41,0.85,0.30,0.42,0.70
27,Age,21.00-24.00,NaN,0.86,0.00,1.00,0.14,NaN,1.00,0.00,0.12,0.14,0.00
28,Age,24.00-29.00,0.30,0.71,0.74,0.25,0.29,0.70,0.26,0.75,0.21,0.30,0.74
29,Age,29.00-40.00,0.46,NaN,1.00,0.00,NaN,0.54,0.00,1.00,0.30,0.46,1.00
30,Age,40.00-66.00,0.54,NaN,1.00,0.00,NaN,0.46,0.00,1.00,0.37,0.54,1.00

In [72]:
b = Bias()

In [73]:
bdf = b.get_disparity_predefined_groups(xtab, original_df=df, ref_groups_dict={'race':'Caucasian', 'sex':'Male', 'age_cat':'25 - 45'}, alpha=0.05, mask_significance=True)
bdf.style

get_disparity_predefined_group()

ValueError: ignored

In [ ]:
calculated_disparities = b.list_disparities(bdf)
disparity_significance = b.list_significance(bdf)

In [ ]:
bdf[['attribute_name', 'attribute_value'] +  calculated_disparities + disparity_significance]

,attribute_name,attribute_value,ppr_disparity,pprev_disparity,precision_disparity,fdr_disparity,for_disparity,fpr_disparity,fnr_disparity,tpr_disparity,tnr_disparity,npv_disparity
0,race,African-American,2.545667,1.690224,1.064904,0.906085,1.213154,1.912093,0.586416,1.377549,0.720526,0.913728
1,race,Asian,0.009368,0.718384,1.268317,0.611748,0.433839,0.370749,0.698482,1.275248,1.192808,1.229148
2,race,Caucasian,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,race,Hispanic,0.222482,0.857099,0.916748,1.120464,1.001616,0.915887,1.165140,0.849249,1.025773,0.999346
4,race,Native American,0.014052,1.915691,1.268317,0.611748,0.578453,1.598854,0.209544,1.721584,0.816506,1.170618
5,race,Other,0.092506,0.602147,0.920466,1.115085,1.048203,0.629057,1.417970,0.618447,1.113660,0.980490
6,sex,Female,0.216801,0.904348,0.806925,1.336425,0.734738,0.990343,1.055810,0.967101,1.004633,1.130710
7,sex,Male,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
8,age_cat,25 - 45,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9,age_cat,Greater than 45,0.204782,0.533914,0.879232,1.192804,0.746232,0.503031,1.531238,0.682963,1.248989,1.121136
10,age_cat,Less than 25,0.519231,1.395369,1.040293,0.935673,1.313873,1.621868,0.696781,1.180958,0.688435,0.850173

In [23]:
f = Fairness()
fdf = f.get_group_value_fairness(bdf)
parity_detrminations = f.list_parities(fdf)
fdf[['attribute_name', 'attribute_value'] + absolute_metrics + calculated_disparities + parity_detrminations].style

NameError: ignored