In [10]:
!pip install aequitas
import pandas as pd
import seaborn as sns
from aequitas.group import Group
from aequitas.bias import Bias
from aequitas.fairness import Fairness
import aequitas.plot as ap

# import warnings; warnings.simplefilter('ignore')

%matplotlib inline

Requirement already satisfied: aequitas in c:\users\simon\anaconda3\lib\site-packages (0.42.0)
Requirement already satisfied: Flask==0.12.2 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.12.2)
Requirement already satisfied: altair==4.1.0 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (4.1.0)
Requirement already satisfied: ohio>=0.2.0 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.5.0)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.11.2)
Requirement already satisfied: pandas>=0.24.1 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (1.4.2)
Requirement already satisfied: tabulate==0.8.2 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.8.2)
Requirement already satisfied: matplotlib>=3.0.3 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (3.7.0)
Requirement already satisfied: Flask-Bootstrap==3.3.7.1 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (3.3.7.1)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\simon\anaconda3\lib\site-packages)

Requirement already satisfied: millify==0.1.1 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.1.1)
Requirement already satisfied: markdown2==2.3.5 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (2.3.5)
Requirement already satisfied: SQLAlchemy>=1.1.1 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (1.4.32)
Requirement already satisfied: pyyaml>=5.1 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (6.0)
Requirement already satisfied: xhtml2pdf==0.2.2 in c:\users\simon\anaconda3\lib\site-packages (from aequitas) (0.2.2)
Requirement already satisfied: entrypoints in c:\users\simon\anaconda3\lib\site-packages (from altair==4.1.0->aequitas) (0.4)
Requirement already satisfied: numpy in c:\users\simon\anaconda3\lib\site-packages (from altair==4.1.0->aequitas) (1.21.5)
Requirement already satisfied: jinja2 in c:\users\simon\anaconda3\lib\site-packages (from altair==4.1.0->aequitas) (3.1.2)
Requirement already satisfied: toolz in c:\users\simon\anaconda3\lib\site-packages (from altair==4.1.0->aequitas) (0.11.2)
Requirement already satisfied: jsonschema in c:\users\simon\anaconda3\lib\site-packages (from altair==4.1.0->aequitas) (4.4.0)
Requirement already satisfied: click>=2.0 in c:\users\simon\anaconda3\lib\site-packages (from Flask==0.12.2->aequitas) (8.0.4)
Requirement already satisfied: Werkzeug>=0.7 in c:\users\simon\anaconda3\lib\site-packages (from Flask==0.12.2->aequitas) (2.0.3)
Requirement already satisfied: itsdangerous>=0.21 in c:\users\simon\anaconda3\lib\site-packages (from Flask==0.12.2->aequitas) (2.0.1)
Requirement already satisfied: visitor in c:\users\simon\anaconda3\lib\site-packages (from Flask-Bootstrap==3.3.7.1->aequitas) (0.1.3)
Requirement already satisfied: dominate in c:\users\simon\anaconda3\lib\site-packages (from Flask-Bootstrap==3.3.7.1->aequitas) (2.7.0)
Requirement already satisfied: html5lib>=1.0 in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (1.1)
Requirement already satisfied: reportlab>=3.0 in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (3.6.12)
Requirement already satisfied: pyPdf2 in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (3.0.1)
Requirement already satisfied: Pillow in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (9.0.1)
Requirement already satisfied: httplib2 in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (0.21.0)
Requirement already satisfied: six in c:\users\simon\anaconda3\lib\site-packages (from xhtml2pdf==0.2.2->aequitas) (1.16.0)
Requirement already satisfied: colorama in c:\users\simon\anaconda3\lib\site-packages (from click>=2.0->Flask==0.12.2->aequitas) (0.4.4)
Requirement already satisfied: webencodings in c:\users\simon\anaconda3\lib\site-packages (from html5lib>=1.0->xhtml2pdf==0.2.2->aequitas) (0.5.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\simon\anaconda3\lib\site-packages (from jinja2->altair==4.1.0->aequitas) (2.0.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (5.12.0)
Requirement already satisfied: cycler>=0.10 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (21.3)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\simon\anaconda3\lib\site-packages (from matplotlib>=3.0.3->aequitas) (1.0.7)
Requirement already satisfied: zipp>=3.1.0 in c:\users\simon\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0.3->aequitas) (3.7.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\simon\anaconda3\lib\site-packages (from pandas>=0.24.1->aequitas) (2021.3)
Requirement already satisfied: scipy>=1.0 in c:\users\simon\anaconda3\lib\site-packages (from seaborn>=0.9.0->aequitas) (1.7.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\simon\anaconda3\lib\site-packages (from SQLAlchemy>=1.1.1->aequitas) (1.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\simon\anaconda3\lib\site-packages (from jsonschema->altair==4.1.0->aequitas) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\simon\anaconda3\lib\site-packages (from jsonschema->altair==4.1.0->aequitas) (0.18.0)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\simon\anaconda3\lib\site-packages (from pyPdf2->xhtml2pdf==0.2.2->aequitas) (4.1.1)

In [14]:
# The purpose of this script is to transform raw data to 
# the format expected by Aequitas.
#
# SOURCE: ProPublica 
# Data: https://github.com/propublica/compas-analysis/raw/master/compas-scores-two-years.csv
# ProPublica's methodology: https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm
# Ari Anisfeld

df = pd.read_csv('https://raw.githubusercontent.com/SimoneCallegarin/TIS_project/master/raw_data/compas-scores-two-years.csv')


# rename for tool
df = df.rename(columns={'id':'entity_id', 
                        'two_year_recid':'label_value'})

# score_text is 'High', 'Medium' or 'Low' and reflects level of assessed risk of recidivism
# "High" and "Medium" are considered prediction that the defendant is charged with a felony 
# or misdemenor in the two years after administation of COMPAS assessment. "Low" is considered 
# a prediction of non-recidivism. This is based on ProPublica's interpretation of Northpointe's
# practioner guide.
#
# "According to Northpointe’s practitioners guide, COMPAS “scores in the medium and high range 
# garner more interest from supervision agencies than low scores, as a low score would suggest
# there is little risk of general recidivism,” so we considered scores any higher than “low” to 
# indicate a risk of recidivism."
# (https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm)

df.loc[df['score_text'] == 'Low', 'score'] = str(0.0)
df.loc[df['score_text'] != 'Low', 'score'] = str(1.0)


df = df[['entity_id', 'score', 'label_value', 'race', 'sex', 'age_cat']]

df.to_csv('./data/compas_for_aequitas.csv', index=False)

In [18]:
df = pd.read_csv("https://raw.githubusercontent.com/SimoneCallegarin/TIS_project/master/data/compas_for_aequitas.csv")

In [19]:
df.head()

   entity_id  score  label_value              race   sex          age_cat
0          1    0.0            0             Other  Male  Greater than 45
1          3    0.0            1  African-American  Male          25 - 45
2          4    0.0            1  African-American  Male     Less than 25
3          5    1.0            0  African-American  Male     Less than 25
4          6    0.0            0             Other  Male          25 - 45

In [20]:
df.shape

(7214, 6)

<a id='counts_description'></a>
The **`get_crosstabs()`** method tabulates a confusion matrix for each subgroup and calculates commonly used metrics such as false positive rate and false omission rate. It also provides counts by group and group prevelances.

#### Group Counts Calculated:

| Count Type | Column Name |
| --- | --- |
| False Positive Count | 'fp' |
| False Negative Count | 'fn' |
| True Negative Count | 'tn' |
| True Positive Count | 'tp' |
| Predicted Positive Count | 'pp' |
| Predicted Negative Count | 'pn' |
| Count of Negative Labels in Group | 'group_label_neg' |
| Count of Positive Labels in Group | 'group_label_pos' | 
| Group Size | 'group_size'|
| Total Entities | 'total_entities' |

#### Absolute Metrics Calculated:

| Metric | Column Name |
| --- | --- |
| True Positive Rate | 'tpr' |
| True Negative Rate | 'tnr' |
| False Omission Rate | 'for' |
| False Discovery Rate | 'fdr' |
| False Positive Rate | 'fpr' |
| False Negative Rate | 'fnr' |
| Negative Predictive Value | 'npv' |
| Precision | 'precision' |
| Predicted Positive Ratio$_k$ | 'ppr' |
| Predicted Positive Ratio$_g$ | 'pprev' |
| Group Prevalence | 'prev' |

In [25]:
g = Group()
xtab, _ = g.get_crosstabs(df)
absolute_metrics = g.list_absolute_metrics(xtab)
xtab[[col for col in xtab.columns if col not in absolute_metrics]]

,model_id,score_threshold,k,attribute_name,attribute_value,pp,pn,fp,fn,tn,tp,group_label_pos,group_label_neg,group_size,total_entities
0,0,binary 0/1,3317,race,African-American,2174,1522,805,532,990,1369,1901,1795,3696,7214
1,0,binary 0/1,3317,race,Asian,8,24,2,3,21,6,9,23,32,7214
2,0,binary 0/1,3317,race,Caucasian,854,1600,349,461,1139,505,966,1488,2454,7214
3,0,binary 0/1,3317,race,Hispanic,190,447,87,129,318,103,232,405,637,7214
4,0,binary 0/1,3317,race,Native American,12,6,3,1,5,9,10,8,18,7214
5,0,binary 0/1,3317,race,Other,79,298,36,90,208,43,133,244,377,7214
6,0,binary 0/1,3317,sex,Female,591,804,288,195,609,303,498,897,1395,7214
7,0,binary 0/1,3317,sex,Male,2726,3093,994,1021,2072,1732,2753,3066,5819,7214
8,0,binary 0/1,3317,age_cat,25 - 45,1924,2185,741,706,1479,1183,1889,2220,4109,7214
9,0,binary 0/1,3317,age_cat,Greater than 45,394,1182,181,285,897,213,498,1078,1576,7214
10,0,binary 0/1,3317,age_cat,Less than 25,999,530,360,225,305,639,864,665,1529,7214

In [26]:
xtab[['attribute_name', 'attribute_value'] + absolute_metrics].round(2)

,attribute_name,attribute_value,tpr,tnr,for,fdr,fpr,fnr,npv,precision,ppr,pprev,prev
0,race,African-American,0.72,0.55,0.35,0.37,0.45,0.28,0.65,0.63,0.66,0.59,0.51
1,race,Asian,0.67,0.91,0.12,0.25,0.09,0.33,0.88,0.75,0.00,0.25,0.28
2,race,Caucasian,0.52,0.77,0.29,0.41,0.23,0.48,0.71,0.59,0.26,0.35,0.39
3,race,Hispanic,0.44,0.79,0.29,0.46,0.21,0.56,0.71,0.54,0.06,0.30,0.36
4,race,Native American,0.90,0.62,0.17,0.25,0.38,0.10,0.83,0.75,0.00,0.67,0.56
5,race,Other,0.32,0.85,0.30,0.46,0.15,0.68,0.70,0.54,0.02,0.21,0.35
6,sex,Female,0.61,0.68,0.24,0.49,0.32,0.39,0.76,0.51,0.18,0.42,0.36
7,sex,Male,0.63,0.68,0.33,0.36,0.32,0.37,0.67,0.64,0.82,0.47,0.47
8,age_cat,25 - 45,0.63,0.67,0.32,0.39,0.33,0.37,0.68,0.61,0.58,0.47,0.46
9,age_cat,Greater than 45,0.43,0.83,0.24,0.46,0.17,0.57,0.76,0.54,0.12,0.25,0.32
10,age_cat,Less than 25,0.74,0.46,0.42,0.36,0.54,0.26,0.58,0.64,0.30,0.65,0.57

In [29]:
b = Bias()

In [30]:
bdf = b.get_disparity_predefined_groups(xtab, original_df=df, ref_groups_dict={'race':'Caucasian', 'sex':'Male', 'age_cat':'25 - 45'}, alpha=0.05, mask_significance=True)
bdf.style

get_disparity_predefined_group()

In [32]:
bdf[['attribute_name', 'attribute_value'] +  calculated_disparities + disparity_significance]

In [34]:
f = Fairness()
fdf = f.get_group_value_fairness(bdf)
fdf[['attribute_name', 'attribute_value'] + absolute_metrics + calculated_disparities + parity_detrminations].style

NameError: name 'calculated_disparities' is not defined